body{
    width: 500px;
    margin: 50px auto;
}

h1{
    font-size: 24px;
    margin: 0px 0px 10px 20px;
}

form{
    border: 1px solid lightgray;
    padding: 20px;
}

form .row{
    margin-bottom: 10px;
}

.infoMessage{
    background-color: gainsboro;
    margin: 10px auto;
    padding: 7px
}


.httpErrorMessage{
    font-size: 30px;
    margin-top: 40%;
}